.custom > div {
    height: 80% !important;
}


.center-container {
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 12px;
    flex-direction: row ; /* Changed from column to row */
    gap: 20px ; /* Add some space between the buttons */
}

