{% load static %}

<!DOCTYPE htlm>

<html lang="en" style="height: 100%; width: 100%;">
    <head>
        <title style="display: inline-block;"> Carbon Calculator </title>
        <img src="{% static 'images/logo.png' %}" width="200" style="float: right">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/custom.css' %}"> 
        <style>
            body {
               margin: 25px; 
            }
        </style>
    </head>

    <body>

        {% block body %}
        {% endblock %}
    </body>



</html>
