{% extends "calculator/layout.html" %}


{% block body %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <h1>Emission Data</h1>

    <br>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th >Year</th>
                <th >Electricity</th>
                <th> Water</th>
                <th> Paper</th>
                <th >Garbage</th>
                <th >Commute</th>
                <th >Edit</th>
                <th >Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for form in office_operation_forms %}
                <tr>
                    <td>{{ form.year }}</td>
                    <td>{{ form.electricity }}</td>
                    <td>{{ form.water }}</td>
                    <td>{{ form.paper }}</td>
                    <td>{{ form.garbage }}</td>
                    <td>{{ form.commute }}</td>
                    <td><a href="{% url 'update' form.id %}" >✏️</a></td>
                    <td><a href="{% url 'delete' form.id %}" >🗑️</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  
    <div class="center-container">
        <a href="{% url 'calculator' %}" class="btn btn-primary">Input data</a>
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
    </div>
    
{% endblock %}

    
